
@{
    ViewData["Title"] = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Electronic Store</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css" integrity="sha384-i1LQnF23gykqWXg6jxC2ZbCbUMxyw5gLZY6UiUS98LYV5unm8GWmfkIS6jqJfb4E" crossorigin="anonymous">
        <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/jquery-ui.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/jquery-ui.min.css" />

        <!-- Custom styles for this template-->
        <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css" integrity="sha384-i1LQnF23gykqWXg6jxC2ZbCbUMxyw5gLZY6UiUS98LYV5unm8GWmfkIS6jqJfb4E" crossorigin="anonymous">
        <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <link rel="stylesheet" href="~/lib/jquery/dist/jquery-ui.js" />
        <!-- Custom styles for this template-->
        <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/jquery-ui.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/jquery-ui.min.css" />
    </environment>
</head>
<body>
    <div class="row">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="#">Electronic Store</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-collapse justify-content-end">
                    <a asp-area="Customer" asp-controller="ShoppingCart" asp-action="Index" class="nav-link">
                        <i class="fas fa-shopping-cart"></i> &nbsp;

                        (0)
                    </a>
                </ul>

            </div>
            <div>
                <partial name="_LoginPartial.cshtml" />
            </div>
        </nav>
    </div>
    <div class="row">
        <div class="col-md-2">
            <nav>
                <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

                    <!-- Sidebar - Brand -->
                    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                        <div class="sidebar-brand-icon rotate-n-15">
                            <i class="fas fa-laugh-wink"></i>
                        </div>
                        <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
                    </a>

                    <!-- Divider -->
                    <hr class="sidebar-divider my-0">

                    <!-- Nav Item - Dashboard -->
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="HomeAdmin" asp-action="Index">
                            <i class="fas fa-fw fa-tachometer-alt"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>

                    <!-- Divider -->
                    <hr class="sidebar-divider">

                    <!-- Nav Item - Pages Collapse Menu -->
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="ProductCategory" asp-action="Index">
                            <i class="fas fa-fw fa-cog"></i>
                            <span>Product Category</span>
                        </a>
                    </li>

                    <!-- Divider -->
                    <hr class="sidebar-divider">

                    <!-- Nav Item - Pages Collapse Menu -->
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="Brands" asp-action="Index">
                            <i class="fas fa-code-branch"></i>
                            <span>Brands</span>
                        </a>
                    </li>

                    <!-- Divider -->
                    <hr class="sidebar-divider">

                    <!-- Nav Item - Pages Collapse Menu -->
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="Products" asp-action="Index">
                            <i class="fas fa-clipboard-list"></i>
                            <span>Products</span>
                        </a>
                    </li>
                    <hr class="sidebar-divider">

                    <!-- Nav Item - Pages Collapse Menu -->
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="ProductAttributes" asp-action="Index">
                            <i class="fas fa-file-alt"></i>
                            <span>Product Attributes</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-10">
            @RenderBody()
        </div>
    </div>
    <div class="container body-content">
        <hr />
        <footer>
            <p>&copy; 2019 - ShoeManagement</p>
        </footer>
    </div>


    <environment>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/vendor/jquery/jquery.min.js"></script>
        <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="js/sb-admin-2.min.js"></script>

        <!-- Page level plugins -->
        <script src="vendor/chart.js/Chart.min.js"></script>

        <!-- Page level custom scripts -->
        <script src="js/demo/chart-area-demo.js"></script>
        <script src="js/demo/chart-pie-demo.js"></script>
        <script src="~/lib/jquery/dist/jquery-ui.js"></script>
        <script src="~/lib/jquery/dist/jquery-ui.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/vendor/jquery/jquery.min.js"></script>
        <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="~/js/sb-admin-2.min.js"></script>

        <!-- Page level plugins -->
        <script src="~/vendor/chart.js/Chart.min.js"></script>

        <!-- Page level custom scripts -->
        <script src="~/js/demo/chart-area-demo.js"></script>
        <script src="~/js/demo/chart-pie-demo.js"></script>
        <script src="~/lib/jquery/dist/jquery-ui.js"></script>
        <script src="~/lib/jquery/dist/jquery-ui.min.js"></script>

    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>


