@model ElectronicStore.Models.ViewModels.ProductViewModel
@using ElectronicStore.Extensions
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Admin/Shared/_Layout.cshtml";
}

<br /><br />
<h2 class="text-info">Create Products</h2>
<div class="container justify-content-between">
    <form method="post" asp-action="Create" enctype="multipart/form-data">
        <div class="p-4 border rounded">
            <div class="text-danger" asp-validation-summary="ModelOnly">

            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Products.Name"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Products.Name" class="form-control" />
                </div>
                <span asp-validation-for="Products.Name" class="table-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Products.Code"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Products.Code" class="form-control" />
                </div>
                <span asp-validation-for="Products.Code" class="table-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Products.Images"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Products.Images" type="file" name="files" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Products.Price"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Products.Price" class="form-control" />
                </div>
                <span asp-validation-for="Products.Price" class="table-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Products.IncludeVAT"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Products.IncludeVAT" type="checkbox" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Products.Warranty"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Products.Warranty" class="form-control" />
                </div>
                <span asp-validation-for="Products.Warranty" class="table-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Products.ProductCategory"></label>
                </div>
                <div class="col-5">
                    <select asp-for="Products.CategoryId" asp-items="Model.ProductCategories.ToSelectListItem(Model.Products.CategoryId)" class="form-control"></select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Products.Brands"></label>
                </div>
                <div class="col-5">
                    <select asp-for="Products.BrandId" asp-items="Model.Brands.ToSelectListItem(Model.Products.BrandId)" class="form-control"></select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Products.ShortDescription"></label>
                </div>
                <div class="col-5">
                    <textarea asp-for="Products.ShortDescription" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Products.Description"></label>
                </div>
                <div class="col-5">
                    <textarea asp-for="Products.Description" class="form-control"></textarea>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Products.CreatedDate"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Products.CreatedDate" type="text" readonly value="" id="created" class=" form-control" />
                </div>
                <span asp-validation-for="Products.CreatedDate" class="table-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Products.ModifiedDate"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Products.ModifiedDate" readonly type="text" value="" id="modified" class="form-control" />
                </div>
                <span asp-validation-for="Products.ModifiedDate" class="table-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Products.Quantity"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Products.Quantity" type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="Products.ShowOnHome"></label>
                </div>
                <div class="col-5">
                    <input asp-for="Products.ShowOnHome" type="checkbox" class="form-control" />
                </div>
                <span asp-validation-for="Products.ShowOnHome" class="table-danger"></span>
            </div>

            <br />
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Create" />
                <a asp-action="Index" class="btn btn-success">Back To List</a>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("~/Views/Admin/Shared/_ValidationScriptsPartial.cshtml");}
    <script>
            $(document).ready(function () {
                var d = new Date();

                var month = d.getMonth() + 1;
                var day = d.getDate();

                var output = d.getFullYear() + '/' +
                    (month < 10 ? '0' : '') + month + '/' +
                    (day < 10 ? '0' : '') + day;

                var h = d.getHours();
                var m = d.getMinutes();
                var values = h + ":" + m;

                $("#created").attr('value', output + " " + values);
                $("#modified").attr('value', output + " " + values);
            });
    </script>
}



